.content-block> h3 {
  font-weight: 500;
}

.icon_lg_text {
  height: 16px;
  width: 8rem;
  display: block;
  margin: 0 auto 3px;
  overflow: hidden;
}

.svg_icon_text {
  color: #5ac1f8;
  line-height: 25px;
}

.msg_details_btn {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.detail_panel {
  margin: 0 auto;
  margin-top: 12px;
  width: 95%;
  overflow-x: hidden;
  overflow-y: visible;
  display: none;
  border-radius: 5px;
}

.msg_setting {
  position: fixed;
  right: 0;
  z-index: 5;
  margin: 10px 100px;
}

.tools_div {
  margin-top: 0.3rem;
  transition: transform 0.5s;
  transform: translate(115px, 0px);
  position: fixed;
  background-color: #1d242a;
  opacity: 0.9;
  line-height: 16px;
  font-size: 16px;
  color: #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  right: 0;
  top: 0;
  padding: 12px 9px 12px 6px;
}

.read_all {
  border: 1px solid;
  border-radius: 0.3rem;
  padding: 0rem 0.2rem;
}

a.read_all {
  color: #FFF;
  font-size: 16px;
}

a.read_all:active {
  color: #9d9d9d;
}


/*右箭头*/

.right {
  margin-top: -2px;
  margin-left: 3px;
  width: 36px;
  height: 36px;
  position: absolute;
  left: 0;
}

.right-arrow1,
.right-arrow2 {
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  left: 0;
  border-top: 10px transparent dashed;
  border-right: 10px transparent dashed;
  border-bottom: 10px transparent dashed;
  border-left: 10px white solid;
  overflow: hidden;
}

.right-arrow1 {
  left: 1px;
  /*重要*/
  border-left: 10px #fff solid;
}

.right-arrow2 {
  border-left: 10px white solid;
}


/*左箭头*/

.left {
  margin-top: -2px;
  margin-left: -8px;
  width: 36px;
  height: 36px;
  position: absolute;
  left: 0;
}

.left-arrow1,
.left-arrow2 {
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  left: 0;
  border-top: 10px transparent dashed;
  border-left: 10px transparent dashed;
  border-bottom: 10px transparent dashed;
  border-right: 10px white solid;
  overflow: hidden;
}

.left-arrow1 {
  border-right: 10px #fff solid;
}

.left-arrow2 {
  left: 1px;
  /*重要*/
  border-right: 10px white solid;
}


/*轮播图片*/
*{margin:0;padding:0;list-style:none;border:0;}

/* main_image */
.main_visual{overflow:hidden;position:relative;}
.main_image{padding-bottom:56%;overflow:hidden;position:relative;}
.main_image ul{width:9999px;overflow:hidden;position:absolute;top:0;left:0}
.main_image li{float:left;width:100%}
.main_image li span{display:block;width:100%; position:relative; padding-bottom:56%; height:0}
.main_image li a{display:block;width:100%;height:422px}
.main_image li img {display:block;position: absolute;width: 100%;height: 100%}
.main_image li span .img_title {display:block;position: absolute;bottom:0;background-color: rgba(0, 0, 0, 0.6);width:100%;height:0;padding-bottom: 14%}
.main_image li span .img_title p {color: #fff;font-size: 1.6rem;line-height: 2.5rem;padding:5px}
div.flicking_con{position: absolute;bottom: 3%;right: 3%;z-index: 999}
div.flicking_con a{float: left;width: 5px;height: 5px;margin: 0 0 0 5px;padding: 0;background-color: #737373;display: block;text-indent: -1000px;}
div.flicking_con a.on{background-color: #FFF}
#btn_prev,#btn_next{z-index:-1;position:absolute;display:none;width:73px!important;height:74px!important;top:50%;margin-top:-37px;display:none;}
/*#btn_prev{background:url(../images/hover_left.png) no-repeat left top;left:100px;}
#btn_next{background:url(../images/hover_right.png) no-repeat right top;right:100px;}*/
