html,
body {
	font-size: 1rem;
	background-color: #FFF;
}

.x-menus {
	margin-top: 10px;
}

.x-menus>div:first-child {
	padding: 10px;
}

.list_content {
	padding-bottom: 160px;
}

.content-bottom span a {
	color: #4E90FF;
}

.content-block {
	padding: 10px;
	border-bottom: 1px solid #d8d8d8;
}

a.x-row-blocks {
	color: #525e71;
  text-decoration: none;
}

a.x-row-blocks>div:first-child>div:first-child>span {
  font-size: 1.2rem;
}

.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 10px;
    padding-left: 10px;
}

.cons_send {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: 1px solid #88cdf3;
  background-color: rgba(136, 205, 243, 0.5);
  border-radius: 3rem;
  padding: 5px;
}

.cons_send a {
	width: 100%;
  height: 100%;
  display: block;
}

.cons_send .svg_icon {
	width: 45px;
	height: 45px;
}

.cons_content {
	display: none;
	position: fixed;
	top: 0;
	width: 100%;
	background: rgba(17, 17, 17, 0.8);
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 5px;
	z-index: 100;
}

.cons_content .x-radio {
 	margin: 0;
}

.cons_content .userinfo {
	margin-bottom: 3px;
}

.cons_content .userinfo .col-xs-6 {
  padding-right: 0px;
  padding-left: 0px;
}

.cons_content .userinfo .col-xs-6>pre {
  max-height: 40px !important;
  min-height: 40px !important;
  height: 40px;
}

.cons_content .userinfo .x-col-username {
  padding-right: 1.5px;
  padding-left: 15px;
}

.cons_content .userinfo .x-col-phone {
  padding-right: 0px;
  padding-left: 2px;
}

.cons_content .userinfo .x-col-radio {
	padding-left: 4px;
  padding-top: 6px;
  font-size: 1.2rem;
  line-height: 1.2rem;
  color: #FFF;
}

pre {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	white-space: pre-wrap;
	word-break: normal;
}

pre:empty:before{
    content: attr(data-placeholder);
    color:#bbb;
}
pre:focus:before{
    content:none;
}

.flex {
	background: #fff;
	border: none;
	border-radius: 4px;
	max-height: 132px;
	min-height: 66px;
	padding-left: 10px;
	padding-right: 10px;
	overflow-y: auto;
	overflow-x: hidden;
	outline: none;
	font-size: 16px;
	line-height: 22px;
}

.flex_title, .flex_username, .flex_phone {
	max-height: 55px;
	min-height: 40px;
}

.cons_msg_btn button {
	margin-right: 6px;
}

.cons_title {
	margin-bottom: 3px;
	background: rgba(17, 17, 17, 0);
	margin-right: 10px;
	color: #fff;
	width: 80%;
	padding: 0px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.cons_msg {
	width: 80%;
	opacity: 0.95;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.cons_cancel_btn {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 12px 22px;
	margin-bottom: 71px;
}

.cons_commit_btn {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 12px 8px;
	margin-bottom: 7px;
}

.cons_detail {
	display: none;
	position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 200;
  background-color: #FFF;
}

.cons_detail .cons_detail_content {
	padding: 50px 10px 10px 10px;
	font-size: 1.2rem;
}

.cons_detail .row {
	margin: 0;
	margin-top: 20px;
}

.cons_detail .row:nth-child(2) {
	border: 1px solid #a2fdb1;
  border-radius: 5px;
  background-color: #d5fadb;
  padding: 5px 12px;
  /* white-space: nowrap; */
  vertical-align: middle;
  text-align: justify;
  line-height: 1.8rem;
}

.cons_detail .row:first-child {
	font-size: 1.4rem;
}

.cons_detail .row:nth-child(3) {
	border-bottom: 3px solid #2f6d9b;
	margin-bottom: 15px;
	padding-bottom: 15px;
}

.cons_detail .row:nth-child(4) {
	border: 1px solid #90d0fd;
  border-radius: 5px;
  background-color: #d5ebfa;
  padding: 5px 12px;
  /* white-space: nowrap; */
  vertical-align: middle;
  text-align: justify;
  line-height: 1.8rem;
}


.cons_detail .row:last-child {
	/*border-bottom: 3px solid #2f6d9b;*/
}

.cons_detail .col-xs-12,.cons_detail .col-xs-6 {
	padding: 0;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
	opacity: initial;
}

.right_svg {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.x-qtype {
	display: block;
  height: 3rem;
	transition: transform .2s linear;
	-webkit-transition: -webkit-transform .2s linear;
	transform: translateX(210px);
  -webkit-transform: -webkit-translateX(210px);
	position: fixed;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0 5px 0 0;
}

.x-qtype-top {
	border-radius: 0 0 0 18px;
	top: 0;
}

.x-qtype-down {
	border-radius: 18px 0 0 0;
	bottom: 0;
}

.x-qtype-show {
	transform: translateX(0);
  -webkit-transform: -webkit-translateX(0);
}

.x-qtype-btn {
	float: left;
	display: inline-block;
}

.x-qtype .svg_icon {
	width: 50px;
	height: 50px;
}

.x-qtype .ios_button {
  float: right;
  margin-top: 11px;
}

.x-qtype .btn_text {
  font-size: 1.4rem;
  line-height: 3rem;
  padding: 0 10px 0 0;
  color: #1296db;
}


/* ==========================================================================
                    label标签模拟按钮
       ========================================================================== */

.emulate-ios-button {
  display: block;
  width: 60px;
  height: 26px;
  background: #ccc;
  border-radius: 5rem;
  cursor: pointer;
  position: relative;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}


/* ==========================================================================
                    设置伪类,来实现模拟滑块滑动,过渡用了transition来实现 ,
                    translateZ来强制启用硬件渲染
       ========================================================================== */

.emulate-ios-button:after {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  position: absolute;
  left: 1px;
  top: 1px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.emulate-ios-button:active:after {
  width: 24px;
}


/* ==========================================================================
                    设置raw-checkbox,视觉直观比较
       ========================================================================== */

.raw-checkbox {
  display: none;
  width: 24px;
  height: 24px;
}

.raw-checkbox:checked+label {
  background: #34bf49;
}


/* 这里是伪元素偏移,初始是0.9+0.05 ,所以这里1.05rem */

.raw-checkbox:checked+label:after {
  left: 2.2rem;
}

.raw-checkbox:checked+label:active:after {
  left: .5rem;
}

.raw-checkbox:disabled+label {
  background: #d5d5d5;
  pointer-events: none;
}

.raw-checkbox:disabled+label:after {
  background: #bcbdbc;
}


/* Checked Knob (Blue Style) */

input[type="checkbox"].ios-switch:checked + div > div {
  -webkit-transform: translate3d(20px, 0, 0);
  -moz-transform: translate3d(20px, 0, 0);
  background-color: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172, 1);
}


/* Green Knob */

input[type="checkbox"].green.ios-switch:checked + div > div {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 162, 63, 1);
}